<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@Session["CompanyName"]</strong>
                            </span>
                            <span class="block m-t-xs">
                                <strong class="font-bold">@Session["UserName"]</strong>
                            </span>
                            <span class="text-muted text-xs block">Menu<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Signout","Accounts")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            @*<li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
                </li>*@
            @*<li class="@Html.IsSelected(action: "Minor")">
                    <a href="@Url.Action("Index", "BusinessPartner")"><i class="fa fa-desktop"></i> <span class="nav-label">Business Master List</span></a>
                </li>
                <li class="@Html.IsSelected(action: "Minor")">
                    <a href="@Url.Action("Index", "Product")"><i class="fa fa-desktop"></i> <span class="nav-label">Product Details</span></a>
                </li>
                <li class="@Html.IsSelected(action: "Minor")">
                    <a href="@Url.Action("Create", "SalesOrder")"><i class="fa fa-desktop"></i> <span class="nav-label">Sales Order</span></a>
                </li>*@

            <!-- Masters Folder -->
            <li>
                <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Masters</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(controller: "Product")">
                        <a href="@Url.Action("Index", "Product")">Product Details</a>
                    </li>
                    <li class="@Html.IsSelected(controller: "BusinessPartner")">
                        <a href="@Url.Action("Index", "BusinessPartner")">Business Master List</a>
                    </li>
                </ul>
            </li>
            <!-- Sales Folder -->
            <li>
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Sales</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    @*<li class="@Html.IsSelected(controller: "SalesOrder")">
                            <a href="@Url.Action("Index", "SalesOrder")">Sales Order List</a>
                        </li>
                        <li class="@Html.IsSelected(controller: "SalesOrder")">
                            <a href="@Url.Action("Create", "SalesOrder")">New Sales Order</a>
                        </li>
                        <li class="@Html.IsSelected(controller: "SalesOrderUpload")">
                            <a href="@Url.Action("Upload", "SalesOrderUpload")">Sales Order Upload</a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Delivery")">
                            <a href="@Url.Action("Create", "Delivery")">Delivery</a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Invoice")">
                            <a href="@Url.Action("InvoiceCreate", "Invoice")">Sales Invoice</a>
                        </li>*@
                    <li class="@Html.IsSelected(controller: "SalesOrder")">
                        <a href="@Url.Action("Index", "SalesOrder")">Sales Order</a>
                    </li>
                    @*<li class="@Html.IsSelected(controller: "SalesOrder")">
                            <a href="@Url.Action("Create", "SalesOrder")">New Sales Order</a>
                        </li>*@
                    <li class="@Html.IsSelected(controller: "SalesOrderUpload")">
                        <a href="@Url.Action("Upload", "SalesOrderUpload")">Sales Order Upload</a>
                    </li>
                    @*<li class="@Html.IsSelected(controller: "Delivery")">
                            <a href="@Url.Action("Index", "Delivery")">Delivery Document</a>
                        </li>*@
                    @*<li class="@Html.IsSelected(controller: "Delivery")">
                            <a href="@Url.Action("Create", "Delivery")">New Delivery</a>
                        </li>*@
                    @*<li class="@Html.IsSelected(controller: "ARCreditMemo")">
                            <a href="@Url.Action("Create", "ARCreditMemo")">A/R Credit Memo</a>
                        </li>*@
                    @*<li class="@Html.IsSelected(controller: "Invoice")">
                    <a href="@Url.Action("Index", "Invoice")">Sales Invoice</a>
                </li>*@
                </ul>
            </li>

            <!--Purchase Folder-->
            @*<li>
            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Purchase</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(controller: "PurchaseOrder")">
                    <a href="@Url.Action("Index", "Purchase")">Purchase Order</a>
                </li>

            </ul>
            </li>*@
            <li>
                <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Reports</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(controller: "OutStanding")">
                        <a href="@Url.Action("Index", "OutStanding")">Customer Outstanding Report</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>