

@model _10xErp.Models.ItemDetails

<tr class="address-row">

    <td>
        <input type="text" name="ItemDetails[@Model.Index].ItemName" class="form-control form-control-sm" value="@Model.ItemName" />
    </td>
    <td>
        <input type="text" name="ItemDetails[@Model.Index].ItemCode" class="form-control form-control-sm" value="@Model.ItemCode" />
    </td>
    <td>
        <input type="text" name="ItemDetails[@Model.Index].UomName" class="form-control form-control-sm" value="@Model.UomName" />
    </td>
    <td>
        <input type="text" name="ItemDetails[@Model.Index].Qty" class="form-control form-control-sm" value="@Model.Qty" />
    </td>
    <td>
        <input type="text" name="ItemDetails[@Model.Index].Price" class="form-control form-control-sm" value="@Model.Price" />
    </td>
    <td>
        <input type="text" name="ItemDetails[@Model.Index].VatGrpCode" class="form-control form-control-sm" value="@Model.VatGrpCode" />
    </td>
    <td>
        <input type="text" name="ItemDetails[@Model.Index].VAT" class="form-control form-control-sm" value="@Model.VAT" />
    </td>
    <td>
        <input type="text" name="ItemDetails[@Model.Index].VatRate" class="form-control form-control-sm" value="@Model.VatRate" />
    </td>
    <td>
        <input type="text" name="ItemDetails[@Model.Index].LineTotal" class="form-control form-control-sm" value="@Model.LineTotal" />
    </td>
    <td>
        <select name="ItemDetails[@Model.Index].Warehouse" class="form-control uom-dropdown"></select>
    </td>
    <td style="text-align: center;">
        <button type="button" class="delete-row form-control form-control-sm">
            <i class="dw dw-delete-3 text-danger"></i>
        </button>
    </td>
</tr>



