@using _10xErp.Models
@model List<ProductDetailsModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*  #itemTable_filter {
        display: none;
    }*/

    #itemTable th, #itemTable td {
        vertical-align: middle !important;
    }

    #itemTable thead th {
        white-space: nowrap;
    }
</style>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Item List</h5>
                    <div class="ibox-tools">
                        <input type="text" id="customSearchBox" class="form-control input-sm" placeholder="Search records" style="width: 200px; display: inline-block;" />
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="itemTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ItemCode</th>
                                    <th>ItemName</th>
                                    <th>Barcode</th>
                                    <th>ItemGroup</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@item.ItemCode</td>
                                        <td>@item.ItemName</td>
                                        <td>@item.Barcode</td>
                                        <td>@item.ItemGroup</td>
                                        <td>
                                            @Html.ActionLink("View", "ViewProductDetails", "Product", new { itemCode = item.ItemCode }, new { @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                        }
                                    }
                                    else
                                    {

                                    }*@


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

@*<script>
        $(document).ready(function () {
            $('#itemTable').DataTable({
                pageLength: 10,
                lengthChange: false,
                searching: true,
                ordering: true,
                info: true,
                paging: true,
                language: {
                    searchPlaceholder: "Search records",
                    search: "",
                }
            });
        });
    </script>*@

<script>
    $(document).ready(function () {
        //var table = $('#itemTable').DataTable({
        //    pageLength: 10,
        //    lengthChange: false,
        //    searching: true, // Keep this true but hide the default search bar using CSS
        //    ordering: true,
        //    info: true,
        //    paging: true
        //});

        //// Hide default DataTables search box
        //$('#itemTable_filter').hide();

        //// Connect our custom search box
        //$('#customSearchBox').on('keyup', function () {
        //    table.search(this.value).draw();
        //});
        const detailsUrlTemplate = '@Url.Action("ViewProductDetails", "Product", new { itemCode = "__id__" })';
        var table = $('#itemTable').DataTable({
            ajax: {
                url: '@Url.Action("GetProductList", "Product")',
                data: function (d) {
                }
            },
            columns: [
                { data: null },
                { data: 'ItemCode', className: 'text-right' },
                { data: 'CodeBars', className: 'text-right' },
                { data: 'ItmsGrpNam', className: 'text-right' },
                { data: 'ItemName', className: 'text-left' },
                {
                    data: null,
                    orderable: false,
                    searchable: false,
                    className: 'text-center',
                    render: function (data, type, row) {
                        const detailsUrl = detailsUrlTemplate.replace('__id__', row.ItemCode);
                        return `<a href="${detailsUrl}" title="View Details"><i class="fa fa-eye"></i></a>`;
                    }
                }
            ],
            order: [[1, 'desc']],
            responsive: true,
            autoWidth: false,
            scrollX: true,
            scrollY: '400px',
            scrollCollapse: true,
            language: {
                emptyTable: "No records available"
            },
            initComplete: function () {
                this.api().columns.adjust();
            },
            drawCallback: function () {
                var api = this.api();
                var pageInfo = api.page.info();
                api.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                    cell.innerHTML = pageInfo.start + i + 1;
                });

                api.columns.adjust();
            }
        });
    });
</script>

