@model _10xErp.Models.OrderViewModel

<div class="col-md-6">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Customer</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Customer.CardName, new { htmlAttributes = new { @id = "CustName", @readonly = "readonly", @class = "form-control", @style = "background-color: white; color: black;" } })            
        </div>        
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Customer Code</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Customer.CardCode, new { htmlAttributes = new { @id = "CustCode", @readonly = "readonly", @class = "form-control", @style = "background-color: white; color: black;" } })
        </div>
    </div>
    @*<div class="form-group row">
        <label class="col-sm-3 col-form-label">Contact Person</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Customer.ContactPerson, new { htmlAttributes = new { @id = "CntPer", @readonly = "readonly", @class = "form-control" } })
        </div>
    </div>*@
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">LPO No</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Customer.LpoNo, new { htmlAttributes = new { @id = "LpoNo", @readonly = "readonly", @class = "form-control", @style = "background-color: white; color: black;" } })
        </div>
    </div>
    @*<div class="form-group row">
        <label class="col-sm-3 col-form-label">Payment Terms</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Customer.PaymentTerms, new { htmlAttributes = new { @id = "PaymentTerms", @readonly = "readonly", @class = "form-control" } })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Ship To Code</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Customer.ShipToCode, new { htmlAttributes = new { @id = "ShipToAddress", @readonly = "readonly", @class = "form-control" } })
        </div>
    </div>*@
</div>

<div class="col-md-6">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Series</label>
        <div class="col-sm-3">
            @Html.EditorFor(m => m.Customer.Series, new { htmlAttributes = new { @id = "Series", @readonly = "readonly", @class = "form-control", @style = "background-color: white; color: black;" } })
        </div>        
    </div>
    @*<div class="form-group row">
        <label class="col-sm-3 col-form-label">Posting Date</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Customer.Curentdate, new { htmlAttributes = new {@id="PostDate" ,@class = "form-control", type = "date", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Delivery Date</label>
        <dv class="col-sm-9">
            @Html.EditorFor(m => m.Customer.Curentdate, new { htmlAttributes = new { @id = "DelDate", @class = "form-control", type = "date", @readonly = "readonly" } })
        </dv>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">LPO Date</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Customer.Curentdate, new { htmlAttributes = new { @id = "LPODate", @class = "form-control", type = "date", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Delivery Location</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Customer.DeliveryLocation, new { htmlAttributes = new { @id = "DeliveryLocation", @class = "form-control", type = "text", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Bill To Code</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.Customer.PayToCode, new { htmlAttributes = new { @id = "PayToCode", @class = "form-control", type = "text", @readonly = "readonly" } })
        </div>
    </div>*@
</div>
<div id="itemContainer" class="col-md-12">
    <h4>Item Details</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                @*<th>UOM</th>*@
                <th>Qty</th>
                @*<th>Unit Price</th>
                <th>Discount (%)</th>
                <th>Vat Group</th>
                <th>Warehouse</th>*@
                <th>FOC</th>
                <th>FOC Remarks</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <tr>
                    <td><input type="hidden" name="Items[@i].ItemCode" value="@Model.Items[i].ItemCode" readonly="readonly" style="background-color: white; color: black; border: 1px solid #ccc;"/>@Model.Items[i].ItemCode</td>
                    <td><input type="hidden" name="Items[@i].ItemName" value="@Model.Items[i].ItemName" readonly="readonly" style="background-color: white; color: black; border: 1px solid #ccc;" />@Model.Items[i].ItemName</td>
                    @*<td readonly="readonly">@Model.Items[i].UOM</td>*@
                    <td><input type="hidden" name="Items[@i].Qty" value="@Model.Items[i].Qty" readonly="readonly" style="background-color: white; color: black; border: 1px solid #ccc;" />@Model.Items[i].Qty</td>
                    @*<td><input type="number" name="Items[@i].UnitPrice" value="@Model.Items[i].UnitPrice" readonly="readonly" class="form-control" /></td>
                    <td><input type="number" name="Items[@i].Discount" value="@Model.Items[i].Discount" readonly="readonly" class="form-control" /></td>
                    <td><input name="Items[@i].Vat" value="@Model.Items[i].Vat" readonly="readonly" class="form-control" /></td>
                    <td><input name="Items[@i].Warehouse" value="@Model.Items[i].Warehouse" readonly="readonly" class="form-control" /></td>*@
                    <td><input type="hidden" name="Items[@i].FOC" value="@Model.Items[i].FOC" readonly="readonly" style="background-color: white; color: black; border: 1px solid #ccc;" />@Model.Items[i].FOC</td>
                    <td><input type="hidden" name="Items[@i].FOCRemarks" value="@Model.Items[i].FOCRemarks" readonly="readonly" style="background-color: white; color: black; border: 1px solid #ccc;" />@Model.Items[i].FOCRemarks</td>
                </tr>
            }
        </tbody>
    </table>

</div>
<hr />

<div class="col-md-12">
    <div class="col-md-6">
        @*<div class="form-group row">
                <label class="col-sm-3 col-form-label">Sales Employee</label>
                <div class="col-sm-9">
                    @Html.EditorFor(m => m.Customer.SalesEmployee, new { htmlAttributes = new { @id = "SalesEmployee", @class = "form-control", type = "text", @readonly = "readonly" } })
                </div>
            </div>*@
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Remarks</label>
            <div class="col-sm-9">
                @Html.EditorFor(m => m.Customer.Remarks, new { htmlAttributes = new { @id = "Remarks", @class = "form-control", type = "text", @readonly = "readonly", rows = 2, @style = "background-color: white; color: black;" } })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success" onclick="saveOrder()">Generate Sales Order</button>
            </div>
        </div>
    </div>
    <!--<div class="col-md-6">
        <div class="form-group row">
            <label class="col-sm-5 col-form-label">Total Before Discount</label>
            <div class="col-sm-7">-->
    @*<input type="number" class="form-control" id="totalBeforeDiscount" readonly>*@
    @*@Html.EditorFor(m => m.Customer.TotalBeforeDiscount, new { htmlAttributes = new { @readonly = "readonly" } })*@
    <!--</div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Total Discount</label>
        <div class="col-sm-7">-->
    @*<input type="number" class="form-control" id="totalDiscount">*@
    @*@Html.EditorFor(m => m.Customer.DocDiscount, new { htmlAttributes = new { } })*@
    <!--</div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Tax</label>
        <div class="col-sm-7">-->
    @*<input type="number" class="form-control" id="totalTax" readonly>*@

    <!--</div>--> @*@Html.EditorFor(m => m.Customer.TotalTax, new { htmlAttributes = new { } })*@
    <!--</div>
    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Total</label>
        <div class="col-sm-7">-->
    @*<input type="number" class="form-control" id="grossTotal" step="any">*@
    @*@Html.EditorFor(m => m.Customer.GrossTotal, new { htmlAttributes = new { @readonly = "readonly" } })*@
    <!--</div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success">Generate Sale Order</button>
            </div>
        </div>
    </div>-->
</div>
@*<h4>Customer Details</h4>
    <div>
        <input type="hidden" name="Customer.CardCode" value="@Model.Customer.CardCode" />
        <label>Customer Name: </label>
        <input type="text" name="Customer.CardName" value="@Model.Customer.CardName" class="form-control" />
        <label>Contact Person: </label>
        <input type="text" name="Customer.ContactPerson" value="@Model.Customer.ContactPerson" class="form-control" />
        <label>LPO No: </label>
        <input type="text" name="Customer.LpoNo" value="@Model.Customer.LpoNo" class="form-control" />
        <label>Payment Terms: </label>
        <input type="text" name="Customer.PaymentTerms" value="@Model.Customer.PaymentTerms" class="form-control" />
        <label>Delivery Location: </label>
        <input type="text" name="Customer.DeliveryLocation" value="@Model.Customer.DeliveryLocation" class="form-control" />
    </div>

    <h4>Item Details</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>UOM</th>
                <th>Qty</th>
                <th>Unit Price</th>
                <th>Discount (%)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <tr>
                    <td><input type="hidden" name="Items[@i].ItemCode" value="@Model.Items[i].ItemCode" />@Model.Items[i].ItemCode</td>
                    <td>@Model.Items[i].ItemName</td>
                    <td>@Model.Items[i].UOM</td>
                    <td><input type="number" name="Items[@i].Qty" value="@Model.Items[i].Qty" class="form-control" /></td>
                    <td><input type="number" name="Items[@i].UnitPrice" value="@Model.Items[i].UnitPrice" class="form-control" /></td>
                    <td><input type="number" name="Items[@i].Discount" value="@Model.Items[i].Discount" class="form-control" /></td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" onclick="saveOrder()">Save Order</button>*@


